<div id=container{{thermostat.id}} class="tstat-chart"></div>
<div class="tstat-info">
    <div class="tstat-info-child">
        <h3>{{ currentIndoorTemp }}°F</h3>
        <p>Current Indoor Temp</p>
    </div>
    <div class="tstat-info-child">
        <h3>{{ currentOutdoorTemp }}°F</h3>
        <p>Current Outdoor Temp</p>
    </div>
    <div class="tstat-info-child">
        <h3>{{ targetIndoorTemp }}°F</h3>
        <p>Current Target Temp</p>
    </div>
    <div class="tstat-info-child">
        <h3>{{ runtimeMins }}</h3>
        <p>Runtime Mins</p>
    </div>
</div>