<div>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <div *ngIf="isDataAvailable()">
    <div *ngFor="let location of locations">
      <h2>{{ location.description }}</h2>
      <div *ngFor="let tstat of location.thermostats">
        <app-output-graph [thermostat]="tstat"
                          [weatherSamples]="location.weatherSamples"
                          [onTstatUpdate]="onTstatUpdate"
                          [onWeatherUpdate]="onWeatherUpdate"></app-output-graph>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
